.profile {
    
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: $tablet-width) {   
        padding-left: 69px;
        padding-right: 69px;
    }
    @media (min-width: $desktop-width) {
        padding-left: 110px;
        padding-right: 110px;
    }
}

.profile__form__inner-form {
    @media (min-width: $tablet-width) {
        margin-bottom: 72px;
    }
    @media (min-width: $desktop-width) {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        column-gap: 80px;
        margin-bottom: 49px;
        margin-top: 1px;
    }
}

.profile__form__purpose {
    padding-top: 22px;
    @media (min-width: $tablet-width) {   
        padding-top: 0;
    }
    @media (min-width: $desktop-width) {
        height: 196px;
        width: 100%;
    }
}

.profile__form .line {
    @media (min-width: $tablet-width) {   
        display: none;
    }
}

.profile__desc__text {
    margin-bottom: 39px;
    color: #000;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
    @media (min-width: $tablet-width) {   
        width: 323px;        
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 66px;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.profile__form__data__list {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    list-style-type: none;
    color: var(--special_dark-grey, #444);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
    @media (min-width: $tablet-width) {   
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 72px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 0;
    }
}

.profile__form__data__item {
    display: flex;
    margin-bottom: 14px;
    label {
        margin-right: 12px;
        max-width: 118px;
        white-space: nowrap;
        align-self: center;
    }
    input {
        width: 100%;
        height: 45px;
        align-self: flex-end;
        padding-left: 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-left: 1px;
        @media (min-width: $tablet-width) {   
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        @media (min-width: $desktop-width) {
            border: 1px solid #E7E7E7;
        }
        
    }
    @media (min-width: $tablet-width) {   
        margin-bottom: 20px;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.profile__form__purpose__list {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style-type: none;
    color: var(--special_dark-grey-2, #222);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
    @media (min-width: $tablet-width) {   
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 28px;
        padding-bottom: 25px;
        margin-bottom: 75px;
        border: 1px solid #E7E7E7;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.type-radio {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}


.type-radio_active {
    fill: var(--basic_green, #68B738);
    &:hover {
        stroke-width: 1px;
stroke: #BABABA;        
    }
    &:focus {
        stroke-width: 1px;
        stroke: #BABABA;        
    }
    &:active {
        
    }
}

.profile__form__purpose__item {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 13px;
    &:hover {
        stroke-width: 1px;
        stroke: #BABABA;
    }
    &:focus {
        stroke-width: 1px;
stroke: #BABABA;
    }
    &:active {
        opacity: 0.3;
    }
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: normal;
        margin-top: 25pxpx;
    }
}

.profile__form-contacts__title {
    margin-top: 26px;
    margin-bottom: 35px;
    color: #000;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    @media (min-width: $tablet-width) {   
        margin-top: 0;
        margin-bottom: 76px;
        font-size: 36px;
        line-height: 36px;
        width: 552px;
        background-color: hsl(0, 0%, 100%);
    }
    @media (min-width: $desktop-width) {
        margin-top: 69px;
        margin-bottom: 76px;
    }
}


.profile__form__contacts {
    margin-top: 26px;
    @media (min-width: $tablet-width) {   
        position: relative;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.profile__form-contacts__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @media (min-width: $tablet-width) {   
        margin-bottom: 65px;
    }
    @media (min-width: $desktop-width) {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 78px;
    }
}

.title__line__form {
   
    @media (min-width: $tablet-width) {
        position: absolute;
    height: 2px;
    background: #68B738;
    top: 24px;
    right: 0;
        width: 100%;
        z-index: -1;
    }
    @media (min-width: $desktop-width) {          
        width: 100%;
    }
}

.profile__form-contacts__item {
    display: flex;
    position: relative;
    color: var(--special_dark-grey, #444);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 14px;
    input {
        min-height: 45px;
        padding-left: 15px;
        width: 100%;
        align-self: flex-end;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        flex-wrap: wrap;
    }
    @media (min-width: $tablet-width) {   
        font-size: 20px;
        line-height: normal;
        margin-bottom: 20px;
        input {
            font-size: 20px;
            line-height: normal;
            text-transform: uppercase;
            padding-right: 0;
            border: 1px solid var(--special_grey, #CDCDCD);
        }
    }
    @media (min-width: $desktop-width) {
        input {
            
    }
}
}

.profile__form-contacts__label__e-mail {
    margin-right: 11px;
    white-space: nowrap;
    align-self: center;
    flex-wrap: wrap;
    @media (min-width: $tablet-width) {   
        
    }
    @media (min-width: $desktop-width) {
        
    }
}

.profile__form-contacts__label__phone {
    margin-right: 8px;
    align-self: center;
    @media (min-width: $tablet-width) {   
        
    }
    @media (min-width: $desktop-width) {
        
    }
}


.profile__form-contacts__item:hover svg {
    fill: #CDCDCD;
}

.profile__form-contacts__item:focus svg {    
    fill: #444444;
}

.profile__form-contacts__item:active svg {    
    fill: #FF8282;
}

.icon-email {
    position: absolute;
    right: 15px;
    top: 16px;
    margin-left: 10px;
    
}

.icon-phone {
    position: absolute;
    right: 12px;
    top: 13px;
    
}

.profile__form__comments {
    @media (min-width: $tablet-width) {
        position: relative;
   
    }

}

.profile__form__comments__title {
    margin-top: 10px;
    margin-bottom: 38px;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    @media (min-width: $tablet-width) {   
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 76px;
        margin-top: 65px;
        width: 222px;
        background-color: #ffffff;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.comments {
    min-height: 150px;
    width: 100%;
    padding-top: 9px;
    padding-left: 15px;
    color: var(--special_dark-grey, #444);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;  
    border: none;
    outline: none;
    @media (min-width: $tablet-width) {   
        min-height: 174px;
        font-size: 20px;
        line-height: 30px;
         border: 1px solid #E7E7E7;
         padding-top: 10px;
         padding-left: 19px;
         margin-bottom: 65px;
         padding-left: 0;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.profile__form__preferably {
    @media (min-width: $tablet-width) {
        position: relative;
    }
}

.profile__form__preferably__title {
    margin-top: 23px;
    margin-bottom: 36px;
    white-space: nowrap;
    color: #000;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    @media (min-width: $tablet-width) {   
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 57px;
        margin-top: 0;
        width: 252px;
        background-color: #ffffff;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.profile__form__preferably__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @media (min-width: $tablet-width) {
        display: grid;
        min-width: 565px;
        grid-template-columns: 50% 50%;
        row-gap: 32px;
        margin-bottom: 54px;

        }
        @media (min-width: $desktop-width) {
            width: 100%;
            grid-template-columns: 25% 25% 25% 25%;
            column-gap: auto;
        }
}

.profile__form__preferably__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    input {
        width: 26px;
        height: 26px;
        margin-right: 16px;
        align-self: center;
    }
    label {
        color: #000;
        font-family: Oswald;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        @media (min-width: $tablet-width) {   
            font-size: 20px;
            line-height: normal;
            text-transform: uppercase;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}
}

.profile__form__order {
        @media (min-width: $tablet-width) {
        margin-bottom: 72px;
        display: grid;
        grid-template-columns: 50% 50%;
       
        }
        @media (min-width: $desktop-width) {
align-items: end;
        }
}

.profile__form__button {
    margin-top: 19px;
    width: 100%;
    height: 40px;
    margin-bottom: 21px;
     @media (min-width: $tablet-width) {   
         width: 282px;
         height: 52px;
         margin-right: 61px;
         font-size: 20px;
        line-height: 0px; /* 0% */
        text-transform: uppercase;
        margin-bottom: 0;
        @media (min-width: $desktop-width) {
        box-sizing: border-box;
            width: auto;
        }
    }
}

.profile__form__button__explain {
    margin-bottom: 32px;
    color: #000;
    margin-left: 42px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
     @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 16px;
        margin-left: 0;
     }
     @media (min-width: $desktop-width) {    
        
        }
}

